
  .paper {
    padding: 10px;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fileInput {
    width: 97%;
    margin: 10px 0;
  }
  .buttonSubmit{
    margin-bottom: 10;
  }